<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate">
    <title>@ViewData["Title"] - Moolah</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="~/icon/moolah_icon.png">
</head>
<body>
    <header>
        @if (Context.Session.GetString("Role") != null && Context.Session.GetString("Role") == "User")
            {
                @await Html.PartialAsync("_UserMenu.cshtml")
            }
        else
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-lg-3">
                <div class="container">

                    <a class="navbar-brand" href="~/Home/Index"
                        style="color: #7f218a; font-weight: bold; font-size: 24px; word-break: break-word;">
                        Moo<span style="color: #0E152D">lah</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <!--<li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="FindUs">Find Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/PublicViewWorks/Index">View Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/PublicViewRankings/Index">View Rankings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/PublicVote/Index">Vote for Competitors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Comments/Index">View Comments</a>
                            </li>-->
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Login" style="color: #b429c4">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Create" style="color: #b429c4">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center" style="color: white; background-color: #0E152D">
        <div class="container">
            Copyright &copy; 2021 by SDD_P01_T1
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
