@{
    ViewData["Title"] = "Forget";
}

<h4 class="font-weight-bold text-center" style="margin:2em">Login</h4>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form method="post" action="~/Home/AccountLogin">
            <fieldset class="loginFieldset">
                <div class="form-group">
                    <label for="txtEmail" class="control-label">Email Address</label>
                    <input type="email" class="form-control" name="txtEmail" id="txtEmail" required />
                </div>

                
                <div class="form-group text-center" style="margin-top: 2rem">
                    <a asp-controller="Home" asp-action="Forget" class="btn btn-secondary">Go Back</a>&nbsp;
                    <input type="submit" id="btnLogin" class="btn btn-primary" value="Login" style="width:100px" />
                </div>
                <div class="text-center">
                    <span class="text-danger">@TempData["LoginErrorMessage"]</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>

