@model SDD_P02_Group1.ViewModels.OverviewViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center" style="margin-top: 8em">
    <h2 style="color:gray">Welcome to</h2><br />
    <img src="~/images/moolahlogo.png" alt="moolah_logo" /><br />
    <h4 style="color:#0E152D">Manage. Track. Predict</h4>

    @{
        string userRole = "Unknown";

        if (Context.Session.GetString("Role") != null)
        {
            <p style="margin-top: 4rem; color: #0E152D;">Hello! <span style="color: #a629c2 ">@Context.Session.GetString("Username")</span></p>
            userRole = Context.Session.GetString("Role");
            <p style="color: #0E152D;">You are logged in as a <span style="color: #a629c2 ">@userRole</span></p>

            <h3>Current Week Spendings</h3>
            <div class="text-center">
                <partial name="~/Views/Home/_ViewSpendings.cshtml" model="@Model.sp" />
            </div>

            //<p class="text-center" style="margin: 1rem ">Export spendings <a href="#" data-toggle="modal" data-target="#export">here</a><br></p>

            <div class="row">
                <form method="post" action="~/Home/CreateExcel">
                    <input type="submit" value="Export" class="btn btn-danger" />
                </form>
                <form method="post" action="#">
                    <input type="submit" value="Inport" class="btn btn-danger" />
                </form>
            </div>

            <br /><br />

            <h3> Upcomming Liabilities</h3>
            <div class="text-center">
                <partial name="~/Views/Home/_ViewLiabilities.cshtml" model="@Model.lb" />
            </div>
        }

        else
        {
            <p style="margin-top: 4rem; color: #0E152D;">You are currently not logged in. <a asp-controller="Home" asp-action="Login">Please log in now</a>.</p>
        }
    }
</div>

@*<div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="exportconfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Export Spendings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please enter the name of the Excel file
                <br><br>
                <form method="post" action="~/Home/CreateExcel">
                    <input type="text" class="form-control" name="filepath">
                    <br>
                    <div class="float-right">
                        <br>                        
                        <input type="submit" value="Export" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>*@