@{
    ViewData["Title"] = "Login";
}

<h4 class="font-weight-bold text-center" style="margin:2em">Login</h4>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form method="post" action="~/Home/AccountLogin">
            <fieldset class="loginFieldset">
                <div class="form-group">
                    <label for="txtEmail" class="control-label">Email Address</label>
                    <input type="email" class="form-control" name="txtEmail" id="txtEmail" required />
                </div>

                <div class="form-group">
                    <label for="txtPassword" class="control-label">Password</label>
                    <input type="password" class="form-control" name="txtPassword" id="txtPassword" required />
                </div>
                <div class="form-group text-center" style="margin-top: 2rem">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Go Back</a>&nbsp;
                    <input type="submit" id="btnLogin" class="btn btn-primary" value="Login" style="width:100px" />
                </div>
                <div class="text-center">
                    <span class="text-danger">@TempData["LoginErrorMessage"]</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<p class="text-center" style="margin: 1rem ">Forgot Password? <a href="#" data-toggle="modal" data-target="#resetPasswordConfirmation">Click here</a><br><span class="text-center text-danger">@TempData["NoEmailFoundError"]</span></p>
<p class="text-center" style="margin: 1rem ">No Account? <a asp-controller="Home" asp-action="Create">Create One!</a></p>

<div class="modal fade" id="resetPasswordConfirmation" tabindex="-1" role="dialog" aria-labelledby="resetPasswordConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please enter the email you used to sign up. If the account exists, an email will be sent to it.
                <br><br>
                <form method="post" action="~/Home/ResetPassword">
                    <input type="email" class="form-control" name="passwordResetEmail">
                    <br>
                    <div class="float-right">
                        <br>
                        <input type="submit" value="Confirm" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>