@model SDD_P02_Group1.Models.AssetHistory
//002

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_UserMenu.cshtml";
}

<h1>History</h1>

<partial name="~/Views/_ViewAssetHistory.cshtml" model="@Model" />