@model SDD_P02_Group1.Models.Liability

@{
    ViewData["Title"] = "Create";
}

<h4>Liability</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LiabilityName" class="control-label"></label>
                <input asp-for="LiabilityName" class="form-control" />
                <span asp-validation-for="LiabilityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiabilityType" class="control-label"></label>
                <input asp-for="LiabilityType" class="form-control" />
                <span asp-validation-for="LiabilityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiabilityDesc" class="control-label"></label>
                <input asp-for="LiabilityDesc" class="form-control" />
                <span asp-validation-for="LiabilityDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecurringType" class="control-label"></label>
                <input asp-for="RecurringType" class="form-control" />
                <span asp-validation-for="RecurringType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecurringDuration" class="control-label"></label>
                <input asp-for="RecurringDuration" class="form-control" />
                <span asp-validation-for="RecurringDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

