@model SDD_P02_Group1.Models.Liability

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top: 2em;"><span style="color: #7f218a;">Liabilities</span></h2>

<p>
    <a asp-controller="Liability" asp-action="Create">Add New Liability</a>
</p>
